---
import { Image } from 'astro:assets';
import { site } from "../data/site";
import logoSrc from '../assets/logo.png';
---

<header class="site-header">
  <div class="inner">
    <a href="#" class="brand">
      <Image src={logoSrc} alt="Chè Dây Đông Giang" height={38} />
      <span class="brand-text">{site.name}</span>
    </a>
    <nav>
      <a href="#story">Câu chuyện</a>
      <!-- <a href="#usp">Vì sao</a> -->
      <a href="#product">Sản phẩm</a>
      <!-- <a href="#faq">Hỏi đáp</a> -->
    </nav>
    <a href={site.shopeeUrl} class="header-cta">Mua trên Shopee</a>
  </div>
</header>
